SECRET_KEY=afab22e0243a11f1a0ca505a65041aef

DB_HOST=task_management_db
DB_PORT=5432
DB_NAME=task_management_system_db
DB_USER=postgres
DB_PASSWORD=8h5uTKuIA&2t

ADMIN_EMAIL=info@admin.com
ADMIN_PASSWORD=admin123

JWT_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30